{% extends 'templates/base.html' %}

{% block body %}

<div class="container">
    <form action="{% url 'shelves:books_add' %}" method="post">
        {% csrf_token %}
        <h3>add books</h3>
        <!-- {{ form.as_table }} -->
        <table>
            <tr>
                <td>author</td>
                <td>{{ form.author }}</td>
            </tr>
            <tr>
                <td>title</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td>tags</td>
                <td> {{ form.tags }}</td>
            </tr>
            
        </table>
        <button type="submit"> submit </button>
    
    </form>
</div>

{% endblock %}