{% extends 'templates/base.html' %}
{% load static %}

{% block suggest-to-log %}
{% if auth %}
        {% else %}
        {% include 'templates/suggest-to-log.html' %}
        {% endif %}
{% endblock suggest-to-log %}


{% block logout %}
        {% if auth %}
        {% include 'templates/logout.html' %}
        {% else %}
        {% endif %}
{% endblock logout %} 


{% block body %}
<div class="container">
        <div class="div_title">
        <h3>Keep your lists of books and search easy</h3>
        </div>

        {% if auth == False %}
        <div class="div_title">
                <p>Login to create your own list or look through a "demo user" account</p>
                <div>
                        <form method="post">
                        {% csrf_token %}
                        <button type="submit">demo user login</button>
                        </form>
                </div>
        
                <p>
                <img src="{% static 'example.jpg' %}" height="50%;", width="50%;">
                </p>
        </div>
        {% endif %}

</div>
{% endblock %}